/*ウインドウ幅が最大479pxまでの場合*/

@media screen and (max-width: 479px) {

  .container {
    width: 100%;
  }

  /* 横並び解除 */
  .main {
    display: block;
  }

  /* 全要素を縦並び＆幅100%に */
  .left,
  .center,
  .right {
    width: 100%;
  }

  /* center内も全部100%に */
  .center .top,
  .center .middle,
  .center .bottom {
    width: 100%;
  }

  /* 高さはそのままでもOKだが、必要なら調整可能 */
}